*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	
	font-family: sans-serif;
	background: #f7f7f7;
}
.main-nav{
	overflow: auto;
	padding: 0 3rem;
}

.main-nav .nav-logo{
	float:left;
}

.nav-logo a img{
	/* float: left; */
	width: 10rem;
}

.main-nav .nav-links{
	float: right;
	
}

ul{
	line-height: 5rem;
	float: left;
}

ul li{
	float: left; 
	list-style: none;
	padding: 0 0.5rem;
	text-decoration: none; 
	color: #000
	 /* display: inline-block;  */
}


a{
	text-decoration: none; 
	padding: 0.5rem ;
	color: #000
}

.active{
	background-color: orange;
	padding: 0.5rem;
	color: #fff;
}

.fa-bag-shopping{
	font-size: 1.9rem;
	cursor: pointer;
}
.fa-magnifying-glass{
	font-size: 1.5rem;
	padding: 0 0 0 0.3rem;
	cursor: pointer;
}
.bg-image{
	background: center / cover no-repeat url("../img/bgimg.jpg");
	height: 87vh;
}

.main-heading{
	font-size: 3rem;
	color: #fff;
	
}
.bg-image{
	width: 100%;
}

.bg-image-sec{	
	/* float: left; */
	max-width: 27rem;
	/* width: 100%; */
	margin: 0 auto;	
	padding: 4rem 0 0 0;
}

.bg-image-sec p{
		padding: 0 4rem 0 0; 
		color: #fff;
		opacity: 0.4;
		
}

.bg-image .bg-image-sec .btn-sec{
	padding: 1rem 0 0 4rem;	
		
}

.bg-image .bg-image-sec .btn-sec button{
	padding: 0.5rem 1rem;	
	color: #fff;
	border: none;
	font-weight: 700;
	cursor: pointer;
	

	
}

.bg-image .bg-image-sec .btn-sec button:first-child{
	background: orange; 
	
}
.bg-image .bg-image-sec .btn-sec button:last-child{
	background: black; 
}

.fa{
	padding: 0 0.5rem;
}

.about-us:hover,.services:hover,.project:hover,.blog:hover,.shop:hover,.pages:hover,.contact:hover{
		background-color: orange;
		color: #fff;
		/* padding: 0.2rem; */
		
}